/* ========== MES STYLES DE BASE ========== */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

/* Ma police pour les titres */
h1 {
  font-family: 'Libre Baskerville', serif;
}

/* Ma police pour le reste du texte */
h2, h3, h4, h5, h6, p, a {
  font-family: 'Arial', sans-serif;
}

/* ========== MON MENU DE NAVIGATION ========== */
/* Mon bouton hamburger */
.sidenav-trigger {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
}

.sidenav-trigger i {
  color: white;
  font-size: 30px;
}

/* Mon menu latéral mobile */
.sidenav {
  background-color: #529b9b !important;
  color: white !important;
  padding-top: 80px;
}

.sidenav a {
  color: white !important;
}

.sidenav a:hover {
  background-color: #529b9b;
}

/* ========== MON PIED DE PAGE ========== */
.page-footer {
  background: linear-gradient(to bottom, #7ddede, #529b9b);
  padding: 5px 0;
  margin-top: 0;
  border-top: 1px solid #529b9b;
}